.videoEle {
    width: 100%;
    height: auto;
}

.show {
    display: block;
}
.svg-animation-container{
    position: relative;
    left: 105px;
}



@media (max-width: 440px) {
    .svgAnimation {
        height: 250px;
        left: -26%;
        position: relative;
        width: 250px;
    }
}

@media (max-width: 380px) {
    .svgAnimation {
        height: 250px;
        left: -35%;
        position: relative;
        width: 250px;
    }
}

@media (max-width: 350px) {
    .svgAnimation {
        height: 227px;
        left: -38%;
        position: relative;
        width: 235px;
    }
}